# Default ignored files
/shelf/
/workspace.xml
# Ignore Data
data/
chains/
analysis/chains_emcee_w0wa/
output/

# Ignore Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore local config
.env
